.button {
	background: transparent;
	border: 2px solid var(--primary-color);
	border-radius: var(--button-border-radius);
	padding: 16px 24px;
	font-weight: 500 !important;
	white-space: nowrap;
	z-index: 1;
	transition: var(--transition);
	cursor: pointer !important;
}
.button:hover {
	background-color: var(--dark-green);
	color: var(--secondary-color);
	border-color: var(--dark-green);
}
.button--white-c {
	color: var(--secondary-color);
	border-color: var(--secondary-color);
}
.button--white-c:hover {
	background-color: beige;
	border-color: beige;
	color: var(--primary-color);
}
.button--light-green-bg {
	background-color: var(--light-green);
	border: none;
}
.button--light-green-bg:hover {
	color: var(--dark-green);
	background-color: var(--secondary-color);
}
.button--dark-green-bg {
	background-color: var(--dark-green);
	color: var(--secondary-color);
}

.button--dark-green-bg:hover {
	color: var(--primary-color);
	background-color: var(--secondary-color);
}
