:root {
	--background-color: #fff;
	--width-container: 1280px;
	--inline-padding-container: 10px;

	--font-family: 'Figtree';
	--font-size: 16px;

	--fsh1: clamp(2rem, 5.714vw + 0.857rem, 6rem);
	--fsh2: clamp(1.5rem, 0.5vw + 1.4rem, 2rem);
	--fsh3: clamp(1.25rem, 0.5vw + 1.15rem, 1.75rem);
	--fsh4: clamp(1rem, 0.5vw + 0.9rem, 1.5rem);
	--fsh5: 1.25rem;
	--fsh6: 1rem;

	--body-fs: clamp(0.875rem, 0.357vw + 0.804rem, 1.125rem);

	--primary-color: #1d1f1e;
	--secondary-color: #fff;
	--contrast-color: #929c9a;
	--backdrop: #000000a9;

	--light-green: #bef264;
	--dark-green: #022c22;
	--beige: #fff7ed;

	--border-radius: 16px;
	--button-border-radius: 25px;
	--transition: 0.3s;

	--headline300: clamp(1.625rem, 2.25vw + 1.175rem, 3.875rem);
	--headline200: clamp(2.875rem, 2.679vw + 2.339rem, 4.75rem);
	--title300: clamp(1rem, 0.714vw + 0.857rem, 1.5rem);
	--title400: clamp(0.875rem, 0.536vw + 0.768rem, 1.25rem);
	--body200: clamp(0.75rem, 0.357vw + 0.679rem, 1rem);
	--body100: clamp(0.875rem, 0.357vw + 0.804rem, 1.125rem);
	--label100: clamp(0.875rem, 0.357vw + 0.804rem, 1.125rem);

	--section-padding: clamp(64px, 7.2vw, 104px);
}
